In [1]:
import pandas as pd
import numpy as np

In [178]:
file = 'film_data.csv'
df = pd.read_csv(file)

In [179]:
df.shape

(1300, 3)

In [180]:
df.drop_duplicates()

                           titles        ratings                 year_lengths
0                     1. Saltburn     7.1 (152K)      ['2023', '2h 11m', 'R']
1                  2. Poor Things      8.4 (60K)      ['2023', '2h 21m', 'R']
2                     3. The Bear     8.6 (190K)          ['2022– ', 'TV-MA']
3                   4. Mean Girls      6.3 (11K)  ['2024', '1h 52m', 'PG-13']
4                          5. Ted      8.0 (14K)            ['2024', 'TV-MA']
...                           ...            ...                          ...
1295               46. Hereditary     7.3 (369K)       ['2018', '2h 7m', 'R']
1296        47. The Twilight Zone      9.1 (92K)       ['1959–1964', 'TV-PG']
1297             48. Founders Day      4.6 (636)      ['2023', '1h 46m', 'R']
1298  49. American Horror Stories      6.3 (26K)          ['2021– ', 'TV-MA']
1299           50. Alien: Romulus  not available                     ['2024']

[1272 rows x 3 columns]

In [181]:
df['year_lengths'] = df['year_lengths'].str.replace("'", '').str.replace('[', '').str.replace(']', '')

In [182]:
df['year_lengths'] = df['year_lengths'].astype(str)

In [183]:
condition = df['year_lengths'].apply(lambda x: len(x.split(', ')) == 3)
df[['publish_year', 'length', 'age_restriction']] = df.loc[condition, 'year_lengths'].str.split(', ', expand=True)

In [184]:
condition = df['year_lengths'].apply(lambda x: len(x.split(', ')) == 2)
for i in df.loc[condition, 'year_lengths'].apply(lambda x: x.split(', ')):
    if i[0].startswith(('20', '19')):
        df.loc[condition, 'publish_year'] = i[0]
    if 'h' in i[1] or 'm' in i[1]:
        df.loc[condition, 'length'] = i[1]
    else:
        df.loc[condition, 'age_restriction'] = i[1]

In [185]:
condition = df['year_lengths'].apply(lambda x: len(x.split(', ')) == 1)
df.loc[condition, 'publish_year'] = df.loc[condition, 'year_lengths']

In [186]:
df.drop(columns='year_lengths',inplace=True)

In [187]:
for i in df.columns:
    df[i] = df[i].astype(str)

In [188]:
df['publish_year'].replace('–', '', inplace=True)

In [189]:
df.loc[df['publish_year'].str.len() <= 6, 'publish_year'] = df.loc[df['publish_year'].str.len() <= 6, 'publish_year'].str.replace('–', '')

In [268]:
df['votes'] = df['ratings'].str[4:]
df['votes'].replace('available','not available',inplace=True)
df['votes'] = df['votes'].str.strip() 
df['votes'] = df['votes'].str.replace(r'[\(\)]', '',regex=True)

In [269]:
df['rating'] = df['ratings'].str[:4]
df['rating'].replace('\xa0','',inplace=True)
df['rating'] = df['rating'].str.strip() 
df['rating'].replace('not', 'not available', inplace=True)

In [270]:
df['age_restriction'].replace('nan', 'not available', inplace=True)
df['length'].replace('nan', 'not available', inplace=True)

In [271]:
df['titles'] = df['titles'].str.replace(r'^\d+\.\s', '',regex=True)

In [274]:
df.drop(columns='ratings',axis=1,inplace=True)

In [276]:
df.to_csv('film_data.csv', index=False)